.banner {
    height: 550px;
    background: url("../../images/aboutBanner.jpg");
    background-position: center center;
    background-size: cover;
    position: relative;
}

.bannerText {
    display: block;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: -30px;
    z-index: 2;
    width: 740px;
    padding: 40px;
}

.bannerText h1 {
    font-weight: 500;
    font-size: 52px;
    line-height: 63px;
}

.mainText {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    gap: 15px;
}

.mainText p {
    font-size: 22px;
    text-align: justify;
    line-height: 1.5;
}

.mainText strong {
    font-weight: bold;
}

.videoBlock {
    display: block;
    padding-bottom: 50px;
}

iframe {
    width: 100%;
    height: 600px;
    display: flex;
}

@media (max-width: 1079px) {
    iframe {
        height: 470px;
    }
}

@media (max-width: 991px) {
    .bannerText {
        width: 90%;
        left: auto;
    }

    .bannerText h1 {
        text-align: center;
    }
}

@media (max-width:560px) {

    .bannerText h1 {
        font-size: 32px;
        line-height: 39px;
    }

    .banner {
        height: 400px;
    }

    .mainText p {
        font-size: 16px;
    }
    iframe {
        height: 370px;
    }
}
@media(max-width:460px) {
    iframe {
        height: 270px;
    }

}
@media(max-width:319px) {
    .bannerText h1 {
        font-size: 20px;
        line-height: 21px;
    }
    iframe {
        height: 200px;
    }

}
