.banner {
    height: 550px;
    background: url("../../images/wokWithUsbg.jpg");
    background-position: center center;
    background-size: cover;
    position: relative;
}

.bannerText {
    display: block;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: -30px;
    z-index: 2;
    width: 740px;
    padding: 40px;
}

.bannerText h1 {
    font-size: 4vw;
}

h2 {
    font-size: 40pt;
    font-weight: 500;
    color: #D10016;
}

.textBlock {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    gap: 15px;
}

.textBlock p {
    font-size: 22px;
    text-align: justify;
    line-height: 1.5;
}

.textBlock strong {
    font-weight: bold;
}

/* PROJECTS */
.projectsWrap {
    width: 100%;
    height: auto;
}

.projectsWrap h3 {
    font-size: 46px;
    line-height: 56px;
    text-align: center;
    padding-bottom: 24px;
}

.projectsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

.projectsRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    padding-bottom: 20px;
}

.projectItem img {
    width: 384px;
}

.projectItem {
    display: flex;
    position: relative;
}

.itemImg {
    display: flex;
    position: relative;
}

.itemDescr {
    position: absolute;
    width: 100%;
    top: 19px;
    left: 0;
    z-index: 3;
    font-size: 25px;
    color: white;
    background: rgba(0, 0, 0, 0.575);
}

.itemDescr span {
    display: block;
    position: relative;
    padding: 15px 19px;

    text-decoration: none;
}

@media (max-width: 1230px) {
    .projectItem img, .itemDescr {
        width: 320px;
    }
    .itemDescr{
        font-size: 20px;
    }
}
@media (max-width: 1079px) {
    .projectsRow {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .projectItem img, .itemDescr {
        width: 500px;
    }
    .itemDescr{
        font-size: 25px;
    }
}

@media (max-width: 991px) {
    .bannerText {
        width: 90%;
        left: auto;
    }

    .bannerText h1 {
        text-align: center;
    }

    .textBlock h2 {
        text-align: center;
    }
    
}

@media (max-width:560px) {

    .bannerText h1,
    .textBlock h2,
    .projectsWrap h3 {
        font-size: 32px;
        line-height: 39px;
    }

    .banner {
        height: 400px;
    }

    .textBlock p {
        font-size: 16px;
    }
    .projectItem img, .itemDescr {
        width: 310px;
    }
    .itemDescr{
        font-size: 20px;
    }
}

@media(max-width:319px) {
    .bannerText h1 {
        font-size: 20px;
        line-height: 21px;
    }

    .projectsRow, .projectItem img, .itemDescr {
        width: 100%;
    }

    .itemDescr {
        top: 14px;
        font-size: 5vw;
    }
}