.bannerText a,
.projectsWrap a,
.newsWrap a {
    text-decoration: none;
}


/* BANNER */
.banner {
    height: 100vh;
    background: url("../../images/banner.jpg");
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerText {
    width: 740px;
    height: 370px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 50px;
    position: relative;
}

.bannerText h2 {
    font-size: 52px;
    line-height: 63px;
}

.bannerText h3 {
    font-size: 32px;
    line-height: 39px;
    font-style: italic;
    margin-bottom: 30px;
}

.bannerText p {
    font-size: 22px;
}

.bannerBtn {
    position: absolute;
    right: 50px;
    bottom: 0;
}

@media (max-width:768px) {
    .bannerText {
        width: 90%;
        height: 300px;
    }

    .bannerText h2 {
        font-size: 40px;
        line-height: 51px;
    }

    .bannerText h3 {
        font-size: 28px;
        line-height: 35px;
        margin-bottom: 20px;
    }

    .bannerText p {
        font-size: 18px;
    }
}

@media (max-width:632px) {
    .bannerText {
        padding: 20px;
        height: auto;
        padding-bottom: 50px;
    }

    .bannerText h2 {}

    .bannerText h3 {}

    .bannerText p {}
}

/* CATALOG BLOCK */
.text-center {
    font-size: 52px;
    text-align: center;
    padding-bottom: 30px;
}

.catalogWrap {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catalogContainer {
    width: 1000px;
    height: 670px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.left {
    width: 65%;
}

.right {
    width: 35%;
}

.left,
.right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* добавляем gap */
}

.block {
    background-position: center center;
    background-size: cover;
    padding: 20px;
    border: 1px solid #ddd;
    flex: 1;
    position: relative;
}

.sub-blocks {
    display: flex;
    justify-content: space-between;
    height: 60%;
    gap: 20px;
}

.sub-blocks .block {
    width: 50%;
}

.right .block:nth-child(1) {
    max-height: 65%;
    flex: 1;
}

.right .block:nth-child(2) {
    max-height: 35%;
    flex: 1;
}

/* CATALOG CARDS INFO */
.nameBlock {
    background: rgba(0, 0, 0, .7);
    position: absolute;
    top: 20px;
    left: 0;
    padding: 10px 20px 10px 25px;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: white;
}

.priceBlock {
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    bottom: 30px;

    padding: 15px 25px;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    color: #D10016;
    border: 1.5px solid #D10016;

}

@media (min-width:1280px) {
    .priceBlock {
        left: 0;
    }
}

@media (max-width:1279px) {
    .catalogContainer {
        width: 90%;
        height: 600px;

    }

    .priceBlock {
        right: 0;
        padding: 10px 25px;
        line-height: 28px;
    }
}

@media (max-width:991px) {
    .catalogContainer {
        width: 90%;
        height: 670px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .left,
    .right {
        width: 100%;
    }

    .left {
        flex: 1;
        height: 80%;
    }

    .right .block {
        width: 50%;
        justify-content: space-between;
    }

    .sub-blocks {

        flex: 1;
    }

    .sub-blocks,
    .right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        gap: 20px;
    }

    .right {
        height: 30%;
    }

    .right .block:nth-child(1) {
        max-height: 100%;
        flex: 1;
    }

    .right .block:nth-child(2) {
        max-height: 100%;
        flex: 1;
    }
}

@media (max-width:767px) {
    .catalogContainer {
        width: 90%;
        height: 670px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .left {
        flex: 1;
        height: 100%;
    }

    .left .block {
        height: 118px !important;
    }

    .right .block {
        width: 100%;
        height: 118px;
    }

    .sub-blocks .block {
        width: 100%;
        height: 118px;
    }

    .sub-blocks,
    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }

    .right {
        flex: 1;
        height: 100%;
    }

    .right .block:nth-child(1) {
        height: 118px;
        flex: 1;
    }

    .right .block:nth-child(2) {
        height: 118px;
        flex: 1;
    }

    .block {
        flex: none;
    }
}

@media (max-width:560px) {
    .priceBlock {
        display: none;
    }

}

/* FORM OF CALL BACK*/
#formred {
    background: #D10016;
    color: white;
}

#formred input {
    color: white;
    background: #D10016;
    font-size: 28px;
    width: 250px;
}

#formred input,
#formred input:active,
#formred input:focus,
#formred input:hover {
    border: none;
    border-bottom: solid 1px white;
    outline: none
}

#formred .button {
    border: solid 1px white
}

#formred a {
    color: white;
    text-decoration: underline
}

#formred a:hover {
    text-decoration: none
}

.formcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
}

.formcenter h2 {
    text-align: center;
    font-weight: bold;
    font-size: 46px;
}

.formWrapper {
    padding: 60px 0 20px 0;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

.formInputs {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

.reddiv {
    font-size: 19px;

}


.smalltext {
    text-align: center;
    font-size: 15px;

}

@media (max-width:899px) {
    .formWrapper {
        flex-direction: column;
    }

    .but {
        justify-content: center;
        display: flex;
    }
}

@media (max-width:599px) {
    .formInputs {
        flex-direction: column;
        display: flex;
        align-items: center;
    }
}

/* DESCIPTION */
.description {
    background: white;
}

.textAbout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.textAbout h2 {
    color: rgb(209, 0, 21);
    font-size: 46px;

}

.textAbout p {
    font-size: 17px;
    line-height: 23px;
    text-align: justify;
}

.descriptionWrap {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    padding: 50px 0;

}

.imgAbout {
    margin: auto 0;
    height: 100%;
    width: 577px;
}

@media (max-width: 1279px) {
    .imgAbout {
        width: 350px;
        height: 100%;
    }
}

@media (max-width: 991px) {
    .imgAbout {
        display: none;
    }

    .descriptionWrap,
    .textAbout {
        width: 100%;
        padding: 50px 20px;
    }
}

@media (max-width:599px) {

    .textAbout,
    .descriptionWrap {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width:425px) {
    .textAbout p {
        font-size: 14px;
        line-height: 20px;
    }
}

/* ADVANTAGES*/

.advantages {
    background: white;
    border-top: solid rgb(194, 194, 194) 0.1vw;
    border-bottom: solid rgb(194, 194, 194) 0.1vw;

}

.advantages_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 50px 10px;

}

@media (max-width: 1260px) {
    .advantages_wrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        padding: 50px 100px;
        flex-wrap: wrap;
        gap: 30px;

    }
}

.advantages__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.advantages__ico {
    width: 67px;
}

.advantages__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.advantages__subtitle {
    font-size: 21px;
    font-weight: 700;
}

.advantages__text {
    font-size: 19px;
}

/* PROJECTS*/
.ourProjects {}

.projectsWrap {
    padding: 50px 0 0 0;
}

.ourProjects h2 {
    font-size: 46px;
    text-align: center;
    padding-bottom: 25px;
}

.slick-initialized .slick-slide {
    display: flex;
}

.projectsWrapper {}

.projectItem img {
    width: 360px;
}

.projectItem {
    display: flex;
    position: relative;
    justify-content: center;
}

.itemImg {
    display: flex;
    width: 360px;
    height: 240px;
    background-position: center !important;
    background-size: cover !important;
    object-fit: cover;
    position: relative;
}

.itemDescr {
    position: absolute;
    top: 19px;
    left: 0;
    z-index: 3;
    font-size: 25px;
    color: white;
    background: rgba(0, 0, 0, 0.575);
    padding: 15px 19px;
    width: 100%;
    text-decoration: none;
    display: block;
}

.projectBtn {
    padding-top: 30px;
    display: flex;
    justify-content: center;

}

/* NEWS*/

.recentNews {}

.recentNews h2 {
    font-size: 46px;
    text-align: center;
    padding-bottom: 25px;
}

/* news cards */
.newsWrap {
    padding: 50px 0 0 0;
}

.newsWrapper {
    display: flex;


}

.newsItem {
    width: 360px;
    background: white;
    display: flex;
    flex-direction: column;
    margin-right: 40px;

}

.newsItem img {
    width: 100%;
    display: block
}

.newsDescr {
    padding: 23px;
    margin: 0;
}

.newsDescr span {
    color: #313131;
    display: flex;
    flex-direction: column;
    flex: 1;


}

.cardTitle {

    font-size: 19px;
    font-weight: 700;
    padding-bottom: 19px;
}

.cardText {

    display: block;
    line-height: 23px;
    font-size: 17px;
}

/* REVIEWS*/
.reviews {}

.reviewsWrap {
    padding: 50px 0;
}


.reviews h2 {
    font-size: 46px;
    text-align: center;
    padding-bottom: 25px;
}

.reviewCardWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 38px;
}

.reviewCard {

    height: 290px;
    border: 1px solid #D10016;
    font-size: 19px;
    padding: 17px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.reviewCard a {
    display: flex;
    flex-direction: column;
    gap: 17px;
    text-decoration: none;
    color: #313131;
}

.otzyv {
    flex-grow: 1;
    overflow: hidden;
}

.stars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stars span {
    font-weight: bold;

}

.otzyv p {
    position: relative;
    display: inline-block;
    overflow: hidden;


}

.otzyvBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:899px) {
    .reviewCard:last-child {
        display: none;
    }
}

@media (max-width:539px) {
    .reviewCard:nth-child(2) {
        display: none;
    }
}

@media (max-width:560px) {

    .text-center,
    .formcenter h2,
    .textAbout h2,
    .projectsWrap h2,
    .newsWrap h2,
    .reviewsWrap h2 {
        font-size: 40px;
    }
}