*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    width: 1280px;
    margin: auto;

}

@media (max-width:1279px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}


.button {

    padding: 21px 19px;
    border: none;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background: #D10016;
    cursor: pointer;
    transition: .3s;
}

@media (pointer: fine) {
    .button:hover {
        transform: scale(1.05);

    }
}


/* HEADER */
header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8407738095238095) 0%, rgba(0, 0, 0, 0.577468487394958) 34%, rgba(0, 0, 0, 0.2637429971988795) 75%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    transition: all 0.3s;
}

.headerWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1350px;
    transition: all 0.3s;
    position: relative;
    padding: 0 20px;
}

.logo {
    position: relative;
    transition: 0.3s;
    width: 115px;
    padding: 19px;
}

.min-header {
    transition: all .3s;
    background: rgba(0, 0, 0, .8);
    padding: 0;
    position: fixed;
    z-index: 6;
}

.min-header .logo {
    width: 100px;
}

#account {
    width: 38px;
}

/* RESPONSIVE HEADER */
.mobile-menu-btn {
    position: absolute;
    top: 21px;
    left: 15px;
    display: none;
    width: 28px;
    height: 28px;
}

.mobile-menu-btn__line {
    position: absolute;
    top: 12px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #D10016;
}

@media (max-width: 991px) {
    header {
        position: fixed;
        background: #000000;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    }

    .headerWrap {
        height: 70px;
        justify-content: center;
    }

    .logo,
    .min-header .logo {
        width: 80px;
    }

    .mainUl {
        max-width: 100%;
  overflow-x: hidden;
        display: none;
    }

    .mobile-menu-btn,
    .mobile-menu-btn__line {
        display: flex;
    }

    .mobile-menu-btn:before {
        top: 4px;
    }

    .mobile-menu-btn:after {
        top: 20px;
    }

    .mobile-menu-btn:before,
    .mobile-menu-btn:after {
        content: '';
        position: absolute;
        left: 0;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: #D10016;
        transition: all .3s;
    }

    .accountIco {
        position: absolute;
        right: 15px;
        top: 15px;
    }
}


.mobile-menu-btn.active .mobile-menu-btn__line {
    display: none;
}

.mobile-menu-btn.active:before {
    transform: rotate(45deg);
    top: 12px;
}

.mobile-menu-btn.active:after {
    transform: rotate(-45deg);
    top: 12px;
}

.mainUl.active {
    max-width: 100%;
  overflow-x: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    ;
    padding: 20px;

}

.mainUl.active li {
    display: block;
    margin-bottom: 20px;
}

.mainUl.active li a {
    color: #ffffff;
    text-decoration: none;
}

@media (pointer: fine) {
    .mainUl.active li a:hover {
        color: #D10016;
    }
}



/* UL DESIGN */
header ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;

    font-weight: 700;
    font-size: 23px;

    color: white;
}

header ul li {
    position: relative;
    display: flex;
}

/* UL LI A DESIGN */
header ul li a {
    position: relative;
    padding: 10px;
    width: 100%;

    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease-out;
}

header ul li a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 2px;
    background-color: #D10016;
    transition: width 0.3s ease-out;

}

@media (pointer: fine) {

    header ul li a:hover:before {
        width: 100%;
    }

    header ul li a:hover {
        background-color: rgba(0, 0, 0, .6);
    }
}

/*INNER-MENU*/

/* ABOUT */
.headerInnerMenuTxt {
    padding: 10px;
}
/* phone-menu ABOUT */
@media (pointer: coarse) or (pointer: none) {
    .headerInnerMenuTxt.active + ul.innerMenuAbout {
    padding-top: 10px;
    visibility: visible; 
    top: 160%;
    opacity: 1;
  }
}


.innerMenuAbout {
    width: 100%;
    left: 0;
}

.innerMenuAbout,
.innerMenuCatalog,
.catalogMenu {
    margin: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;


    justify-content: center;

    list-style-type: none;
    background: rgba(0, 0, 0, .78);
    transition: all 0.3s ease-out;
    transform: translateY(-10px);
    opacity: 0;
    font-size: 17px !important;
}

.innerMenuAbout,
.innerMenuCatalog li {
    padding-top: 0;
}

.innerMenuAbout .innerMenuText {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;

}

@media (pointer: fine) {

    .mainUl li:hover .innerMenuAbout,
    .mainUl li:hover .innerMenuCatalog,
    .innerMenuCatalog li:hover .catalogMenu {
        visibility: visible;
        transform: translateY(0);
        opacity: 1;
    }

    .innerMenuText li a:hover {
        background-color: #D10016;
    }

}

@media (pointer: fine) {
    .innerMenuText li a:hover:before {
        width: 0;
    }
}


/* CATALOG */
.innerMenuCatalog {

    left: -50%;
}

.innerMenuCatalog,
.innerMenuCatalog .innerMenuText,
.catalogMenu .innerMenuText,
.catalogMenu {
    width: auto !important;
    white-space: nowrap;
}

.innerMenuCatalog .innerMenuText a,
.catalogMenu .innerMenuText a {
    text-align: left;
}

.innerMenuCatalog .innerMenuText,
.catalogMenu .innerMenuText {
    display: flex;
    flex-direction: column;
    width: auto;
    text-align: center;

}

/* CATALOG INNER MENU */
.catalogMenu {
    top: 0;
    left: 100%;
}

/* FOOTER */
footer {
    background-color: black;
    padding: 20px 0 0 0;
}

.footerBlocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 19px;
}

.footerLogo {
    width: 190px;

}

.footerBlocks a {
    font-size: 19px;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.footerIcons {
    width: 21px;
}

.footerContacts {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.priacyPolicy {
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    color: white;
    font-size: 14px;
    padding: 19px;
}

/* .footer__politic {
    text-decoration: none;
    color: white;
    font-size: 19px;
} */

.red {
    color: #D10016;
}

@media (max-width:659px) {
    .footerBlocks {
        flex-direction: column;
        gap: 20px;
    }
}