html{
  width: auto;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  
}

header {
  position: relative;
  /* change to relative positioning */
  background: url("../../images/bg-header.jpg") no-repeat center top;
  background-size: cover;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
}

h1 {
  font-size: 42px;
  color: #D10016;
}

.formsBlock {
  background: white;
  padding: 38px;
}

/*FORMS*/
#regForm {
  display: none;
  padding: 19px;
}

#logForm {
  display: none;
  padding: 19px;
}

.formaBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  gap: 19px;
}

.errorMsg {
  font-size: 23px;
  min-height: 29px;
}

.formsBlock p {
  font-size: 17px;
  display: flex;
  justify-content: center;
}

/* STYLE FOR FORM ELEMENT*/
.formaBlock input {
  color: #313131;
  font-size: 23px;
  width: 250px;
}

.formaBlock input,
.formaBlock input:active,
.formaBlock input:focus,
.formaBlock input:hover {
  border: none;
  border-bottom: solid 1px #D10016;
  outline: none
}

input::-webkit-input-placeholder {
  font-size: 19px;

}

input::-moz-placeholder {
  font-size: 19px;
}

input:-ms-input-placeholder {
  font-size: 19px;
}

/* BOTTOM OF THE FORMS*/
#regP {
  display: flex;
}

#logP {
  display: none;
}
.formsBottom{
  padding: 10px 0;
}
.formsBlock span {
  cursor: pointer;
  

}

.formsBlock span:hover {
  text-decoration: underline;
}

@media (max-width: 991px) {
  .wrapper{
    justify-content: center;
    align-content: center;
  }
  .formsBlock{
    padding: 0;
  }
  #regForm, #logForm{
    padding: 19px 0;
  }
  .formaBlock {
    width: 320px;
    
  }
}
